#prvi {
    text-transform: uppercase;
    text-decoration: underline;
    text-align: left;
}

#drugi {
    text-transform: lowercase;
    text-decoration: line-through;
    text-align: right;
}
#treci{
    text-align: center;
}