


@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 0;
  }
}

body {
  margin: 0;
}

.background {
  background-image: url("/images/bg.jpg");
  -webkit-animation: 5s infinite;
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: repeat-x;
  background-size: cover;
  background-position: 0 0;
}

.mario img {
position: absolute;
left: 50%;
bottom: 90px;
width: 150px;
transform: translateX(-50%);
}

.mario .movingmario {
  display: none;
  width: 130px;
 
}

.mario .staticmario {
  display: block;
}